<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - Products</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header user}}
            <div class="contentContainer">
                <div>
                    <input class="searchKey" type="text" id="searchKey" name="searchKey">
                    <button type="button">Search</button><br/><br/>
                </div>
                <button class="filter" type="button">Filter</button>
                {{#if user.isAdmin}}
                    <p><a href="/admin/addProduct">Add new product</a></p>
                {{/if}}
                {{#if hasProducts}}
                <table class="productList">
                    <tr>
                        <th>&nbsp;</th>
                        <th colspan="2">Product</th>
                        <th>Price</th>
                        <th>&nbsp;</th>
                    </tr>
                    {{#each products}}
                    <tr>
                        <td><a href="/product/edit/{{product_id}}">Edit</a></td>
                        <td><img src="/images/Capture.jpg" alt="Product 1" class="productListImg"></td>
                        <td><a href="/product/{{product_id}}">{{product_description}}</a></td>
                        <td>{{price}} CAD</td>
                        <td><a href="/product/delete/{{product_id}}">Delete</a></td>
                    </tr>
                    {{else}}
                    <tr><td colspan="5">No product was found!</td></tr>
                    {{/each}}
                </table>
                {{else}}
                    <p>Nothing to show</p>
                {{/if}}
            </div>
            {{> footer}}
        </div>
	</body>
</html>