<!DOCTYPE html>
<html>
    <head>
        <title>USER PROFILE</title>
        <link rel="stylesheet" href="/css/theme.css" />
    </head>
    <body>
        
        <div class="container">            
            {{> header user}}
            <div class="contentContainer">
                <h1>USER PROFILE</h1>
                <p>{{user.user_first_name}} {{user.user_last_name}}</p>
                <p>
                    <label class="fixedlabel">User Name:</label> {{user.login_id}}<br/>
                    <label class="fixedlabel">First Name:</label> {{user.user_first_name}}<br/>
                    <label class="fixedlabel">Last Name:</label> {{user.user_last_name}}<br/>
                    <label class="fixedlabel">E-mail:</label> {{user.email}}<br/>
                    <label class="fixedlabel">Admin:</label> {{user.isAdmin}}<br/><br/>
                    <a href="/profile/edit">Edit</a>
                </p>
            </div>            
        </div>
        {{> footer }}
    </body>
</html>